Lab-5/q3/dtd_doc.dtd

<!DOCTYPE letter [
<!ELEMENT letter (date, addressee, greeting, paragraph+, list, closing)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT addressee (name, address_one, address_two)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address_one (#PCDATA)>
<!ELEMENT address_two (#PCDATA)>
<!ELEMENT greeting (#PCDATA)>
<!ELEMENT paragraph (#PCDATA | italics)*>
<!ELEMENT italics (#PCDATA)>
<!ELEMENT list (item+)>
<!ELEMENT item (#PCDATA)>
<!ELEMENT closing (#PCDATA)>
]>